*.o
*.a
*.f
*.out
*.aph
*.pcc12
*.dat
*.ps
*.eps
*.odg
*.pptx
*.xcf
*.gif
Presentation.pdf
.~*
[0-9]*
dq2theta
dqcalc
pcc12
calcmm
dthetabar
dthetascquad
ff
ll
fpp
main
averages
foo
bar
plotme
*deleteme*
